*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav{
    margin: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first_sec{
    display: flex;
    
}
#logo{
    margin-left: 10px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
   
}
.item{
    margin: 15px;
    border-radius: 10px;
    border: 2px solid #00000050;
    box-shadow: 0 0 4px 0 #00000050;
}
#ham-items{
    display: none;
    position: absolute;
    top: 14%;
    left: 0%;
    background-color: #CCCBC7;
    z-index: 100;
    pointer-events:auto;
}
.ham_item{
    margin: 20px;
}

.box_img{
  width: 224px;
  height: 200px;
}
.price-name-cart-sec{
    margin: 6px;
    display: flex;
    justify-content: space-between;

}
.cart_sec{
    display: flex;
    justify-content: space-between;
    /* box-shadow: 0 0 4px 0 #00000050; */
}
.cart_item_product{
   margin: 32px;
    width: 90%;
    display: flex;
    padding:0px 4px 4px 0px;
    justify-content: space-between;

}

.proceed_items{
  height: 282px;
  box-shadow: 0 0 4px 0 #00000050;
  margin-top: 15px;
}
.item_img_cart_text{
    display: flex;
    margin: 15px;
}
.product_text{
    margin: 10px;
}
.cart_text{
    margin: 27px 0px 0px 10px;
}
.delete_cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.delete_cart_img{
    margin: 7px 0px 1px 35px;
}
.total_amnt{
    margin: 0px 0px 0px 0px;
}
.cart_collec{
    width: 100%;
    margin: 15px;
    box-shadow: 0 0 4px 0 #00000050;
}

.checkout-form label{
  font-size: 12px;
  font-weight: 700;

}
.checkout-form input{
  font-size: 14px;
  padding: 5px;
  font-weight: 400;

}




/* Footer */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    body{
    margin:0;
    overflow-x:hidden !important;
    box-sizing:border-box;
    font-family: 'Source Sans Pro', sans-serif;
    }
    
    
    a{
    text-decoration:none;
    outline:none !important;
    color:#fff;
    }
    
    .border-shape {
    background: #ffbe00 none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 3px;
    left: 0;
    margin: 20px auto;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    width: 80px;
    }
    
    .border-shape::before {
    background: #ffbe00 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 100px;
    }
    
    .border-shape::after {
    background: #ffbe00 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    margin: 0 auto;
    position: absolute;
    right: 80px;
    text-align: center;
    top: 1px;
    width: 100px;
    }

    /* Category Form */
    .game-cont{
      margin: 64px 0px;
      background-color: #fff6f6;
      padding: 5em;
  }
  .game-head-row{
      display: flex;
      margin: 2em;
      padding: 2em;
  
  }
  .game-row{
      display: flex;
      margin: 2em;
      padding: 2em;
      border-radius: 8px;
      background-color: #f2f2f2;
  }
  
  .f-flex{
      display: flex;
      justify-content: center;
  }
  .game-outer{
  
      padding: 55px;
      margin-top: 100px;
      background-color: #ffffff8c;
      border-radius: 9px;
  }
  
  .custom-form{
      width: 100%;
      line-height:2;
  }
  
    /* Product Details */

    .block_p_details{
      display: flex;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
    .product_detail{
      padding: 10px
    }
    .details_head{
      background-color: yellow;
      padding: 20px;
    }
    .p_name_trending{
      display:flex;
      justify-content: space-between;
    }
    
    .line{
      height: 2px;
      background-color: #6865654f;;
      /* box-shadow: 0 0 4px 0 #00000050; */
    }
    .price_p{
      padding: 10px;
    }

    /* quantity css */

    
    
    
    
    
    
    
    
    
    
    
    
    /*FOOTER*/
    .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/*  */